{{#with (lookup tabsMap "actions") as |tab|}}

<div class="tab tab-content {{tab.cssClass}}" data-tab="actions" data-group="primary">
    {{{component 'app-actor-search-bar' id='actions-search' placeholder=(localize 'COSMERE.Actor.Sheet.Search.Item.Placeholder')}}}

    <app-adversary-actions-list class="list-component"></app-adversary-actions-list>
</div>

{{/with}}