{{!-- Selected values --}}
<div class="values">
    {{#each selected as |value|}}
        <div class="value" data-id="{{value.key}}">
            <span class="text">{{localize value.label}}</span>

            {{#if (not readonly)}}
            <div class="controls">
                <a data-action="remove" 
                    data-tooltip="GENERIC.Button.Remove"
                >
                    <i class="fa-solid fa-xmark"></i>
                </a>
            </div>
            {{/if}}
        </div>
    {{/each}}
</div>

{{!-- Dropdown --}}
{{#if (not readonly)}}
<div class="new-select">
    <select>
        <option value="" disabled selected>{{localize (default placeholder "COMPONENT.MultiValueSelect.DefaultPlaceholder")}}</option>
        {{selectOptions options localize=true}}
    </select>
</div>
{{/if}}