{{#if (and editable button (not active))}}
<a class="editor-edit" data-action="edit">
    <i class="fa-solid fa-edit"></i>
</a>
{{/if}}
<div class="editor-content">
    {{#if (not active)}}
    {{{content}}}
    {{/if}}
</div>