{{#with (lookup tabsMap "details") as |tab|}}

<div class="tab tab-content {{tab.cssClass}}" data-tab="details" data-group="primary">
    {{formGroup @root.systemFields.level 
        value=@root.item.system.level 
        localize=true
    }}

    <h5>{{localize "COSMERE.Item.Sheet.Goal.Reward.Title"}}</h5>
    {{app-goal-rewards-list
        rewards=@root.item.system.rewards
    }}
</div>

{{/with}}