<div class="talenttip">
    <div class="header">
        <h4>{{title}}</h4>
        <div class="bg-image" style="background-image: url('{{img}}')"></div>
    </div>
    <section style="text-align: left">
        {{{description}}}
    </section>
</div>