:is(.chat-popout, #chat-log, .chat-log) .chat-message {
    padding: 0.5rem;
    border-width: 1px;
    border-block-end-width: 2px;
    border-radius: 6px;
    font-family: var(--plotweaver-font-normal);
    font-size: var(--font-size-13);
    position: relative;
    background: var(--plotweaver-color-parchment);

    .overlay {
        text-align: center !important;
        flex-grow: 1;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0.125rem;
        padding: 0 0.375rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;

        div {
            width: 22px;
            height: 22px;
            padding: 0;
             
            img {
                border: 0;

                &:hover {                    
                    cursor: pointer;
                    filter: var(--plotweaver-shadow-svg);
                }
            }
        }
    }

    .message-header {
        margin-bottom: 0.5rem;
        position: relative;

        .message-delete { 
            display: none; 
        }
        
        .message-sender {
            display: flex;
            align-items: start;
            gap: 0.75rem;
            white-space: unset;

            .avatar {
                height: 100%;
                display: grid;
                place-content: center;
            }
    
            img {
                width: 38px;
                height: 38px;
                border-radius: 100%;
                box-shadow: 0 0 6px var(--plotweaver-shadow-85);
                object-fit: cover;
                object-position: top;
                border: none;
                flex: none;
                background: var(--plotweaver-color-dark-3);
            }
        }

        .name-stacked {
            flex: 1;
            display: flex;
            min-height: 32px;
            flex-direction: column;
            justify-content: center;
            line-height: normal;
        }
    
        .title {
            font-family: var(--plotweaver-font-header);
            font-size: var(--font-size-16);
            font-weight: bold;
            color: var(--plotweaver-color-dark-3);
        }

        .subtitle {
            font-size: var(--font-size-11);
            color: var(--plotweaver-color-dark-6);
        }

        .message-metadata {
            font-size: var(--font-size-10);
            transform: translate(2px, -4px);
            flex: none;

            time {
                color: var(--plotweaver-color-dark-6);    
            }
        }
    }

    .message-content {
        position: relative;

        .chat-card {
            display: flex;
            flex-direction: column;
            gap: 0.375rem;

            .chat-card-section {
                padding: 0.5rem;
                border: 1px solid var(--plotweaver-color-light-1);
                border-radius: 3px;
                background: var(--plotweaver-color-off-white-1);
                overflow: hidden;

                &.critical {
                    border: 3px double var(--plotweaver-color-opportunity);
                }

                &.description {
                    .summary {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;

                        & > img {
                            width: 32px;
                            height: 32px;
                            border: 2px solid var(--plotweaver-color-dark-3);
                            box-shadow: 0 0 4px var(--plotweaver-shadow-45);
                            border-radius: 0;
                            background-color: var(--plotweaver-color-dark-6);
                            object-fit: cover;
                            object-position: top;
                        }

                        & > .cosmere-icon {
                            font-size: var(--font-size-16);
                            color: var(--plotweaver-color-opportunity);
                            padding-right: 0.25rem;
                        }

                        .name-stacked {
                            padding-right: 0.5rem;
                            flex: 1;
                            display: flex;
                            flex-direction: column;
    
                            .title {
                                font-family: var(--plotweaver-font-header);
                                font-size: var(--font-size-14);
                                font-weight: bold;
                                color: var(--plotweaver-color-dark-1);
                            }
                            
                            .subtitle {
                                font-size: var(--font-size-10);
                                color: var(--plotweaver-color-dark-6);
                            }
                    
                            .traits {
                                font-size: var(--font-size-10);
                                color: var(--plotweaver-color-dark-6);
                                
                                strong {
                                    color: var(--plotweaver-color-opportunity);
                                    font-weight: 600;
                                }
                            }                            
                        }
                    }

                    .details {
                        font-family: var(--plotweaver-font-normal);
                        font-size: var(--font-size-11);
                        padding: 0;

                        & > .wrapper {
                            display: flex;
                            flex-direction: column;
                            gap: 0.25rem;
                            overflow: hidden;
                        }

                        p {
                            margin: 0;

                            &:first-child {
                                padding-top: 0.5rem;
                            }
                        }
                    }
                }

                &.injury {
                    .summary {
                        .name-stacked {
                            .title {
                                font-size: var(--font-size-13);

                                strong {
                                    color: var(--plotweaver-color-complication);
                                }
                            }
                        }
                    }
                }

                .section-header {
                    margin-bottom: 0.25rem;
                    font-family: var(--plotweaver-font-normal);
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;

                    .title {
                        font-weight: bold;
                        font-size: var(--font-size-13);
                        text-transform: uppercase;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 0.25rem;
                        margin-bottom: 0.1rem;
                    }

                    .subtitle {                        
                        font-size: var(--font-size-12);
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        gap: 0.25rem;    
                        font-style: italic;                    

                        .skill {
                            font-weight: 600;
                            color: var(--plotweaver-color-opportunity);
                        }

                        .attribute {
                            color: var(--plotweaver-color-light-2);
                            text-transform: uppercase;
                        }
                    }

                    .types {
                        font-size: var(--font-size-10);
                        font-family: var(--plotweaver-font-condensed);
                        color: var(--plotweaver-color-dark-6) !important;
                        font-weight: 600;
                        text-transform: uppercase;
                    }
                }                

                .dice-roll {
                    .dice-flavor {
                        display: none;
                    }

                    .dice-result {
                        .dice-roll-injury,
                        .dice-roll-d20 {
                            height: 32px;                            
                        }

                        .dice-roll-damage {
                            height: 36px;
                        }

                        .dice-roll-d20,
                        .dice-roll-damage {
                            display: flex;
                        }

                        .dice-tooltip {
                            flex: auto;
                            order: unset;
                            display: block;
                            overflow: hidden;

                            .tooltip-part {
                                border-bottom: 1px solid var(--color-border-light-1);
                                padding: 0.125rem 0;

                                &.constant {
                                    padding-right: 6px;
                                    min-height: 40px;
                                    display: grid;
                                }

                                &:last-child {
                                    border: none;
                                    padding-bottom: 0;
                                }
                            }

                            .dice {
                                display: flex;
                                align-items: center;

                                .dice-rolls {
                                    flex: 1;
                                    margin: 5px 0 5px 10px;
                                    display: flex;
                                    flex-wrap: wrap;
                                    gap: 1px;
                                    align-items: center;

                                    .roll {
                                        float: unset;
                                        margin: 0;

                                        &.success, &.max {                                            
                                            color: var(--plotweaver-color-opportunity);
                                            filter: sepia(1) hue-rotate(180deg);
                                        }

                                        &.failure, &.min {
                                            color: var(--plotweaver-color-complication);
                                            filter: sepia(0.8) hue-rotate(-50deg);
                                        }

                                        &.rerolled, &.discarded {
                                            color: inherit;
                                            filter: sepia(0.5) contrast(0.75) opacity(0.4);
                                        }

                                        &.plotdie > img {
                                            width:24px;
                                            height:24px;
                                            border: 0;
                                            border-radius: 0;
                                        }
                                    }

                                    .constant {
                                        font-family: var(--plotweaver-font-normal);
                                        font-weight: bold;
                                        font-size: var(--font-size-16);
                                        margin-left: 0.25rem;

                                        .sign {
                                            color: var(--plotweaver-color-light-2);
                                            font-weight: normal;
                                            margin-right: 2px;
                                        }
                                    }
                                }

                                .total {
                                    flex-basis: 25%;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    position: relative;

                                    .label {
                                        font-family: var(--plotweaver-font-condensed);
                                        font-size: var(--font-size-10);
                                        color: var(--plotweaver-color-dark-6);
                                        text-transform: uppercase;
                                        text-align: center;
                                    }

                                    .value {
                                        font-family: var(--plotweaver-font-normal);
                                        color: var(--plotweaver-color-dark-1);
                                        font-weight: bold;
                                        font-size: var(--font-size-20);
                                    }

                                    .sign {
                                        color: var(--plotweaver-color-light-2);
                                        font-weight: normal;
                                        margin-right: 2px;
                                    }
                                }
                            }
                        }

                        .dice-formula, .dice-total {
                            border-radius: 3px;
                            background: var(--plotweaver-background-5);
                            padding: 0.25rem;
                            line-height: normal;
                            flex: auto;
                            margin: 0;                            
                            width: 100%;
                        }

                        .dice-formula.graze::before {
                            font-family: var(--plotweaver-font-normal);
                            font-size: var(--font-size-10);
                            font-weight: 600;
                            color: var(--plotweaver-color-light-2);
                            
                            text-align: left !important;
                            flex-grow: 1;
                            position: absolute;
                            left: 0;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            padding: 0 0.375rem;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            z-index: 1;

                            content: 'GRAZE';
                        }

                        .dice-total {
                            font-weight: bold;
                            font-size: var(--font-size-24);
                            padding: 0;
                            font-family: var(--plotweaver-font-normal);
                            position: relative;

                            &.ignored {
                                opacity: .4;
                            }

                            &.opportunity {
                                color: var(--plotweaver-color-opportunity);
                                background: var(--plotweaver-color-opportunity-background);
                                border-color: var(--plotweaver-color-opportunity);
                            }

                            &.complication {
                                color: var(--plotweaver-color-complication);
                                background: var(--plotweaver-color-complication-background);
                                border-color: var(--plotweaver-color-complication);
                            }
                        }

                        .dice-roll-damage .dice-total {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }

                        .dice-subtotal {
                            padding: 0 0.5rem;
                            font-weight: 600;
                            display: flex;
                            flex-direction: column;
                            width: 20%;

                            .value {
                                color: var(--plotweaver-color-dark-6);
                                font-size: var(--font-size-12);
                                font-family: var(--plotweaver-font-normal);
                            }

                            .label {
                                color: var(--plotweaver-color-light-1);
                                font-size: var(--font-size-10);
                                font-family: var(--plotweaver-font-condensed);
                                text-transform: uppercase;
                            }

                            &.right {
                                border-left: 1px solid var(--plotweaver-color-light-4);
                            }

                            &.left {
                                border-right: 1px solid var(--plotweaver-color-light-4);
                            }
                        }
                    }
                }
            }            

            .collapsible {
                cursor: pointer;

                .collapsible-content {
                    display: grid;
                    grid-template-rows: 0fr;
                    transition: grid-template-rows 250ms ease;                    
                }    
                
                &.expanded .collapsible-content {
                    grid-template-rows: 1fr;
                }
            }
        }
    }

    .apply-buttons {
        justify-content: space-evenly;
        align-items: center;
        padding-right: 0;
        padding-top: 5px;
        text-align: right !important;
        display: flex;
        font-family: var(--plotweaver-font-normal);
        position: static;

        button {
            width: 44px;
            height: 22px;
            font-size: var(--font-size-14);
            font-weight: 600;
            line-height: 22px;
            padding: 0;
            gap: 0;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding: 0.125rem;

            & > i {
                margin: 0;
            }

            &.damage {
                color: var(--plotweaver-color-complication);
            }

            &.healing {
                color: var(--plotweaver-color-health-front);
            }

            &.focus {
                color: var(--plotweaver-color-focus-front);
            }
        }
    }

    
}

/* Modifier Keys */
:is(.chat-popout, #chat-log, .chat-log)[data-modifier-shift] {
    .chat-message .message-header .message-delete {
        display: unset;
    }
}