<form class="sheet" autocomplete="off">
    <header class="sheet-header">
        <img class="profile" src="{{item.img}}" data-tooltip="{{img.name}}" data-edit="img" />
        <h1 class="document-name">{{item.name}}</h1>
    </header>
    <div>
        {{desc.value}}
    </div>
</form>