<form>
    <div class="form-group">
        <label>{{ localize "GENERIC.Formula"}}</label>
        <input type="text" name="formula" value="{{formula}}" disabled>
    </div>

    <div class="form-group">
        <label>{{localize "DIALOG.ShortRest.TendedToBy"}}</label>
        <select name="tendedBy">
            {{selectOptions characters selected=tendedBy}}
        </select>
    </div>
</form>