<div class="header">
    <div class="title">
        <i class="fa-solid fa-book"></i>
        <span>{{localize "COSMERE.Actor.Sheet.Expertises"}}</span>
    </div>
    <div class="controls">
        {{#if isEditMode}}
        <a role="button"
            data-action="edit-expertises"
            data-tooltip="COSMERE.Actor.Sheet.EditExpertises"
        >
            <i class="fa-solid fa-pen-to-square"></i>
        </a>
        {{/if}}
    </div>
</div>
<div class="expertises">
    {{#each expertises as |expertise|}}
    <div class="expertise" data-id="{{expertise.id}}">
        <span class="name">{{expertise.label}}</span>
        <span class="type">({{localize expertise.typeLabel}})</span>
    </div>
    {{/each}}
</div>