<ul class="skill-list">
    {{#each skills as |skill|}}

    {{#if skill.active}}
    <li class="skill" data-id="{{skill.id}}" data-action="roll-skill">
        <div class="mod">
            <span>+{{derived skill.mod }}</span>
        </div>
        <div class="name">
            <span>{{ localize skill.config.label }}</span>
        </div>
        <div class="attribute">
            <span>{{ localize skill.config.attrLabel}}</span>
        </div>

        <div class="skill-pips ranks">
            <ul class="pip-list">
                {{#times skill.rank}}
                <li class="pip active">
                    <div></div>
                </li>
                {{/times}}
                {{#times (sub 5 skill.rank)}}
                <li class="pip">
                    <div></div>
                </li>
                {{/times}}
            </ul>
        </div>
    </li>
    {{/if}}

    {{/each}}
</ul>