{{#with (lookup tabsMap "equipment") as |tab|}}

<div class="tab tab-content {{tab.cssClass}}" data-tab="equipment" data-group="primary">
    {{{component 'app-actor-search-bar' id='equipment-search' placeholder=(localize 'COSMERE.Actor.Sheet.Search.Equipment.Placeholder')}}}

    <app-character-equipment-list></app-character-equipment-list>
</div>

{{/with}}