{{#with (lookup tabsMap "equipment") as |tab|}}

<div class="tab tab-content {{tab.cssClass}}" data-tab="equipment" data-group="primary">
    {{app-actor-search-bar id='equipment-search' placeholder=(localize 'COSMERE.Actor.Sheet.Search.Equipment.Placeholder')}}

    {{app-actor-equipment-list class="list-component"}}
</div>

{{/with}}