<form>
    <div class="form-group">
        <input name="rate"
            style="text-align: center; font-size: 15pt"
            type="number"
            value="{{derived rate}}"
            min="0"
            step="1"
            {{#if (eq mode 'derived')}}
            readonly
            {{/if}}
        >
    </div>
    <div class="form-group">
        <label>{{localize "GENERIC.Mode"}}</label>
        <select name="mode">
            {{selectOptions modes selected=mode localize=true}}
        </select>
    </div>
    <br>
    <div class="form-group">
        <button data-action="update-movement" type="submit">
            {{localize "GENERIC.Button.Update"}}
        </button>
    </div>
</form>