<section class="sheet-content flexrow">
    <section class="col-left">
        <app-character-details></app-character-details>
        {{#each resources as |resourceId|}}
        {{{component 'app-character-resource' resource=resourceId}}}
        {{/each}}
        <app-character-favorites></app-character-favorites>
    </section>
    <section class="col-main">
        <app-character-attributes></app-character-attributes>
        <div class="tab-body">
            {{> char-details-tab}}
            {{> char-actions-tab}}
        </div>
    </section>
</section>