.sheet.actor.adversary.minimized {border: none;}

.sheet.actor.adversary {
    border: 3px solid var(--plotweaver-color-base-6);
    background: linear-gradient(var(--plotweaver-color-sheet) 35%, transparent);

    .decorations {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        width: 100%;
        height: 100%;
        border: none;

        .top.left {
            position: absolute;
            width: 50px;
            height: 50px;

            top: calc(-2.25rem - 3px);
            left: -3px;

            path {
                fill: var(--plotweaver-color-base-6);
            }
        }

        .top.right {
            position: absolute;
            width: 50px;
            height: 50px;
            transform: scale(-1, 1);

            top: calc(-2.25rem - 3px);
            right: -3px;

            path {
                fill: var(--plotweaver-color-base-6);
            }
        }

        .bot.left {
            position: absolute;
            width: 50px;
            height: 50px;
            transform: scale(1, -1);

            bottom: -3px;
            left: -3px;

            path {
                fill: var(--plotweaver-color-base-6);
            }
        }

        .bot.right {
            position: absolute;
            width: 50px;
            height: 50px;
            transform: scale(-1, -1);

            bottom: -3px;
            right: -3px;

            path {
                fill: var(--plotweaver-color-base-6);
            }
        }
    }

    nav {
        > a {
            border: 1px solid var(--plotweaver-color-base-6);
        }
    }

    .sheet-header {
        .title {
            .document-name{
                text-transform: capitalize;
                color: var(--plotweaver-color-accent);
            }

            .details {
                text-transform: uppercase;
                color: var(--plotweaver-color-faded);
            }
        }

        .level-details {
            .level {
                .container {
                    position: relative;
                    border-radius: 5%;

                    svg {
                        position: absolute;
                        width: 3rem;
                        left: 0;

                        path {
                            fill: var(--plotweaver-color-base-6);
                        }
                    }
                }
            }
        }
    }

    section.skills {
        margin-top: 1rem;
        min-height: 0;
        display: flex;
        flex-direction: column;

        header {
            display: flex;
            margin-bottom: 0.25rem;

            span {
                flex: 1;
            }

            a {
                width: 1rem;
                margin-left: 0.25rem;
            }
        }

        section {
            min-height: 0;
            overflow-y: auto;
        }
    }

    /* --- Components --- */

    app-adversary-header {
        margin-top: 1rem;
    }

    app-actor-attributes {
        margin-top: 0.5rem;
    }

    app-actor-details{
        .deflect { // Placeholder as bg svg / mask is not yet ready
            border: 1px solid var(--plotweaver-color-base-5);
        }
    }
}
