.sheet.actor.adversary {
    section.skills {
        margin-top: 1rem;
        min-height: 0;
        display: flex;
        flex-direction: column;

        header {
            display: flex;
            margin-bottom: .25rem;
    
            span {
                flex: 1;
            }
    
            a {
                width: 1rem;
                margin-left: 0.25rem;
            }
        }

        section {
            min-height: 0;
            overflow-y: auto;
        }
    }

    /* --- Components --- */

    app-adversary-header {
        margin-top: 1rem;
    }

    app-actor-attributes {
        margin-top: .5rem;
    }
}