.sheet.character {
    overflow: visible;

    .window-content {
        overflow: visible;
    }

    > .window-header {
        border: none;
        background: none;

        #mode-toggle {
            display: none;
        }
    }

    &:not(.minimized) > .window-header {
        #mode-toggle {
            display: unset;
        }

        .window-title {
            visibility: hidden;
        }
    }

    > *:not(.window-header) {
        .controls-dropdown.expanded {
            max-height: unset;
        }
    }

    nav {
        border: none;
        flex-direction: column;
        position: absolute;
        left: 100%;
        top: 15%;

        > a {
            background: rgba(11, 10, 19, 0.9);
            width: 2.88867rem;
            height: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #302831;
            border-top-right-radius: 0.3rem;
            border-bottom-right-radius: 0.3rem;

            &.active {
                background-color: rgb(45 41 77 / 90%);
            }
        }
    }

    .sheet-header {
        margin-bottom: 1rem;

        .title {
            padding-left: 2rem;
            flex-direction: column;
            align-items: flex-start;

            .document-name > input {
                margin: 0;
                text-align: left;
                font-size: inherit;
            }

            .details {
                text-transform: uppercase;
                font-size: 10pt;
                margin-top: 0.3rem;

                .delim {
                    margin: 0.2rem;
                    opacity: .5;
                }
            }
        }

        .level-details {
            flex: unset;
            display: flex;
            align-items: center;

            .advance {
                margin-top: 1rem;
                font-size: 13pt;
            }

            .level {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-left: 0.5rem;

                .label {
                    text-transform: uppercase;
                    font-size: 7.5pt;
                }

                .container {
                    border: 1px solid;
                    padding: 0.2rem;
                }
            }
        }
    }

    .sheet-content {
        align-items: flex-start;
        flex: 1;

        .col-left {
            width: 25%;
            flex: unset;
        }

        .col-main {
            flex: 1;
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: 0 1rem;

            .tab-body {
                flex: 1;
                display: flex;

                .tab {
                    flex: 1;
                }
            }

            .tab-content.active {
                flex: 1;
                display: flex;
                align-items: flex-start;
                width: 100%;

                section.skills {
                    margin-right: .25rem;
                }

                section.paths {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    margin-left: .25rem;
                }
            }
        }
    }

    /* --- Tabs --- */

    .tab[data-tab] {
        flex-direction: column;
    }

    .tab.split {
        flex-direction: row;

        > section {
            flex: 1;

            &:not(:first-child) {
                margin-left: .25rem;
            }

            &:not(:last-child) {
                margin-right: .25rem;
            }
        }
    }

    .tab[data-tab="goals"] {
        .details-text {
            .label {
                opacity: .5;
            }

            textarea {
                margin-top: 0.5rem;
                background: #302831;
                padding: 0.3rem 0.5rem;
                min-height: 5rem;

                &:read-only {
                    background: #0b0a13;

                }
            }
        }
    }

    /* --- Components --- */

    app-character-skills-group {
        display: flex;
        padding: 0.4rem 0.2rem;
        margin-bottom: .5rem;
        border-radius: 0.3rem;   

        border: 1px solid #463a47;
        background: #0b0a13;

        .skill-list {
            flex: 1;
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;

            .skill {
                display: flex;
                flex-direction: row;
                align-items: center;

                &:hover {
                    background-color: rgba(0, 0, 0, .25);
                }

                [data-action] {
                    cursor: pointer;
                }

                .mod {
                    width: 2rem;
                    text-align: center;
                    margin: 0 0.3rem;
                }

                .name {
                    flex: 1;
                }

                .attribute {
                    width: 3rem;
                    text-align: center;
                    margin: 0 0.3rem;
                }

                .pip-list {
                    display: flex;
                    flex-direction: row;
                    list-style-type: none;
                    padding: 0;
                    margin: 0 0.3rem 0 0;

                    .pip {
                        > div {
                            width: 0.65rem;
                            height: 0.65rem;
                            border: 1px solid;
                            border-radius: 50%;
                            margin: 0.1rem;
                        }

                        &.active {
                            > div {
                                background-color: white;
                            }
                        }
                    }
                }
            }
        }
    }

    app-character-expertises {

        .header {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 1rem;

            .title {
                flex: 1
            }
        }

        .expertises {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: .2rem;

            .expertise {
                border: 1px solid;
                padding: 0.15rem 0.6rem;
                border-radius: 1rem;
                margin: 0.2rem;
                font-size: 9pt;
            }
        }
    }

    app-character-ancestry {
        display: flex;
        border-radius: 0.3rem;
        margin-bottom: 1rem;

        border: 1px solid #463a47;
        background: #0b0a13;

        .ancestry {
            display: flex;
            flex-direction: column;
            padding: 0.2rem 1rem;

            .name {
                font-size: 13pt;
                font-weight: bold;
            }

            .item-type {
                font-size: 9pt;
                opacity: .75;
            }
        }

        &:has(> .placeholder) {
            border: 1px dashed;
            align-items: center;
            justify-content: center;
            padding: 0.25rem 0;
            opacity: .5;
            box-shadow: 0 0 1rem 0.1rem black;
            background: #00000036;
        }
    }

    app-character-paths-list {
        .path {
            border-radius: 0.3rem;
            margin-bottom: 1rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0.2rem 1rem;

            border: 1px solid #463a47;
            background: #0b0a13;

            .name {
                display: flex;
                flex-direction: column;
                flex: 1;

                .label {
                    font-size: 13pt;
                    font-weight: bold;
                }

                .item-type {
                    font-size: 9pt;
                    opacity: .75;
                }
            }

            .level {
                font-size: 14pt;
                font-weight: bold;
            }

            &.placeholder {
                border: 1px dashed;
                align-items: center;
                justify-content: center;
                padding: 0.45rem 0;
                opacity: .5;
                box-shadow: 0 0 1rem 0.1rem black;
                background: #00000036;
            }
        }
    }

    app-character-goals-list, app-character-connections-list {
        position: relative;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;

        .goals-list, .connections-list {
            list-style: none;
            padding: 0;
            margin: 0 0 0.3rem 0;

            .goal, .connection {
                display: flex;
                align-items: center;

                margin: 0;
                padding: 0 0.5rem;

                background: #302831;
                
                &:not(.collapsed):not(:first-child):not(:last-child) {
                    border-bottom: 1px solid #302831;
                }

                &:not(.details) {
                    height: 2rem;
                }

                &.details {
                    font-size: 10pt;

                    > *:first-child {
                        margin-top: 0;
                    }
                }

                &.header {
                    background: #0f0610;
                    border-top-left-radius: .3rem;
                    border-top-right-radius: .3rem;
                }

                &.collapsed {
                    visibility: hidden;
                    height: 0;
                }

                &:last-child {
                    border-bottom-left-radius: .3rem;
                    border-bottom-right-radius: .3rem;
                }

                &.new {
                    background: #251d26;
                    justify-content: center;

                    a {
                        opacity: .6;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }

                &.achieved {
                    > * {
                        opacity: .5;
                    }

                    > i {
                        opacity: .25;
                    }
                }

                > i {
                    font-size: 5pt;
                    opacity: .5;
                }

                .title {
                    flex: 1;
                    margin-left: .5rem;

                    &.toggle-details {
                        cursor: pointer;
                    }

                    &.inactive {
                        display: none;
                    }
                }

                .progress-pips {
                    list-style: none;
                    flex-direction: row;
                    display: flex;
                    margin: 0;
                    padding: 0;
                    width: 3rem;

                    li {
                        border: 1px solid #665467;
                        width: .75rem;
                        height: .75rem;
                        border-radius: 50%;
                        background: #0f0610;
                        margin: 0 .1rem;

                        &.active {
                            background: currentColor;
                        }
                    }
                }

                .controls {
                    display: flex;

                    a {
                        width: 1rem;
                        display: block;
                        text-align: center;
                    }
                }
            }
        }

        .goals-list {
            .goal {
                &:not(:first-child):not(:last-child) {
                    border-bottom: 1px solid #463a47 !important;
                }
            }
        }

        .connections-list {
            .connection {
                &:nth-child(even):not(:last-child) {
                    border-bottom: 1px solid #463a47 !important;
                }
            }
        }

        .bottom-controls {
            display: flex;
            justify-content: flex-end;

            a:not(.active) {
                opacity: .5;

                &:hover {
                    opacity: 1;
                }
            }

            .label {
                margin-right: 0.2rem;
            }
        }
    }

    app-character-favorites.list-component {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;

        .header {
            font-size: 12pt;
            color: #f7d856;
        }

        .drop-area {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 2rem;
            border: 1px dashed;
            opacity: .5;
            border-radius: 0.3rem;
            box-shadow: 0 0 1rem 0.1rem black;
            margin-top: 0.5rem;

            &.dropping {
                opacity: 1;
            }
        }

        .favorites-list {
            margin: 0;

            .favorite {
                background: unset;
                padding: 0;
                border-bottom: none !important;

                .col.name {
                    font-size: 10pt;
                    margin-left: 0;
                    padding-left: 0.5rem;
                    min-width: 0;

                    .subtitle {
                        font-size: 6.5pt;
                        white-space: nowrap;
                        width: 100%;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }

                .col.activation {
                    width: 2rem;
                    text-align: right;

                    .cosmere-icon {
                        opacity: 1;
                    }
                }

                .col.controls {
                    width: unset;
                    margin-left: .5rem;
                }

                &.usable {
                    .img:hover, .img:has(+ .name:hover), .img:has(+ .activation:hover) {
                        .roll-icon {
                            display: block;
                            opacity: .6;
                            animation: rotating 2s linear infinite;
                            width: 90%;
                            height: 90%;
                        }
                    }
                }
            }

            .drop-indicator {
                height: 1px;
                background: #af38d4;
                border-radius: 1px;
                box-shadow: 0 0 0.3rem 0 #af38d4;
                opacity: .75;
            }
        }
    }
}

@keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }