@import '../sheet.scss';

.attribute-group {
    display: flex;
    flex-direction: column;
    margin: 0 5pt;

    > .label {
        text-align: center;
        font-size: 12pt;
        text-transform: uppercase;
        font-weight: bold;
    }

    .attributes {
        padding: 2.5pt 0;
    }

    > section {
        margin-bottom: 0.5rem;
    }
}

.attribute {
    padding: 0.5ch 0;
    border: 1px solid black;
    margin: 0 2.5pt;
}

.defense {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .defense-box {
        display: flex;
        align-items: center;
        justify-content: center;

        border: 1px solid;
        padding: 8pt 0 10pt;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;

        width: 3rem;
        height: 3rem;

        .value {
            font-size: 15pt;
        }
    }
}

.resource {
    .label {
        text-align: center;
    }

    .value {
        font-size: 14pt;
    }
}

.skills {
    .skill-list,
    .ranks {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .skill {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0.25rem 0;

        .mod-box {
            width: 1.75rem;
            height: 1.5rem;
            margin-right: 0.5rem;
            border: 1px solid black;
            display: flex;
            align-items: center;
            justify-content: center;

            .mod {
                text-align: center;
                font-size: 12pt;
                font-weight: bold;
            }
        }

        .label {
            flex: 1;
        }

        .ranks {
            width: 7rem;
            display: flex;
            flex-direction: row;

            input[type='checkbox'] {
                margin: 0;
            }
        }
    }
}

.derived-attribute,
.expertises {
    .label,
    p {
        text-align: center;
        font-size: 8pt;
    }
}

.expertises {
    .value {
        font-size: 1rem;
        font-weight: normal;
    }
}

.documents {
    flex: 1;
    display: flex;
    flex-direction: row;

    .favorites {
        width: 33%;
    }

    .tabs {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: unset;

        .tab-body {
            flex: 1;
        }
    }
}