.sheet.actor.character {
    .sheet-header {
        .title {
            padding-left: 2rem;
        }
    }

    .cultures-placeholder {
        border: 1px dashed;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 1rem;
        opacity: 0.5;
        box-shadow: 0 0 1rem 0.1rem black;
        background: #00000036;
        text-align: center;
        border-radius: 0.3rem;
        margin-bottom: 1rem;
    }

    /* --- Tabs --- */

    .tab.split {
        flex-direction: row;

        > section {
            flex: 1;

            &:not(:first-child) {
                margin-left: 0.25rem;
            }

            &:not(:last-child) {
                margin-right: 0.25rem;
            }
        }
    }

    .tab[data-tab='goals'] {
        .details-text {
            .label {
                opacity: 0.5;
            }

            textarea {
                margin-top: 0.5rem;
                background: #302831;
                padding: 0.3rem 0.5rem;
                min-height: 5rem;
                font-family: inherit;

                &:read-only {
                    background: #0b0a13;
                }
            }
        }
    }

    /* --- Components --- */

    app-actor-details {
        .derived-statistics {
            margin-top: 2rem;
        }
    }

    app-actor-attributes {
        margin-top: 2.5rem;
    }

    app-character-expertises {
        .header {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 1rem;

            .title {
                flex: 1;
            }
        }

        .expertises {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 0.2rem;

            .expertise {
                border: 1px solid;
                padding: 0.15rem 0.6rem;
                border-radius: 1rem;
                margin: 0.2rem;
                font-size: 9pt;
            }
        }
    }

    app-character-ancestry, app-character-culture {
        position: relative;
        display: flex;
        align-items: center;
        border-radius: 0.3rem;
        margin-bottom: 1rem;
        text-shadow: 0 0 0.5rem black;

        border: 1px solid #463a47;
        background: #0b0a13;
        padding: 0.2rem 1rem;
        overflow: hidden;
        box-shadow: 0 0 0.5rem black;

        .ancestry, .culture {
            display: flex;
            flex-direction: column;
            flex: 1;
            z-index: 1;
            cursor: pointer;

            .name {
                font-size: 13pt;
                font-weight: bold;
            }

            .item-type {
                font-size: 9pt;
                opacity: 0.75;
            }

            &:not(.placeholder):hover {
                text-shadow: 0 0 8px var(--color-shadow-primary);
            }
        }

        .controls {
            margin-left: 1rem;
            z-index: 1;
        }

        .background-img {
            position: absolute;
            left: 0;
            right: 0;
            opacity: 0.25;
            top: -6rem;

            img {
                width: 100%;
            }
        }

        &:has(> .placeholder) {
            border: 1px dashed;
            align-items: center;
            justify-content: center;
            padding: 0.5rem 1rem;
            opacity: 0.5;
            box-shadow: 0 0 1rem 0.1rem black;
            background: #00000036;
            text-align: center;
        }
    }

    app-character-paths-list {
        .path {
            position: relative;
            border-radius: 0.3rem;
            margin-bottom: 1rem;

            display: flex;
            flex-direction: column;

            border: 1px solid #463a47;
            overflow: hidden;
            background: #0b0a13;
            text-shadow: 0 0 0.5rem black;
            box-shadow: 0 0 0.5rem black;

            .details {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0.2rem 1rem 0 1rem;
                z-index: 1;
                cursor: pointer;

                .name {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    z-index: 1;
    
                    .label {
                        font-size: 13pt;
                        font-weight: bold;
                    }
    
                    .item-type {
                        font-size: 9pt;
                        opacity: 0.75;
                    }
                }
    
                .level {
                    font-size: 14pt;
                    font-weight: bold;
                    z-index: 1;
                }
    
                .name,
                .level {
                    &:hover {
                        text-shadow: 0 0 8px var(--color-shadow-primary);
                    }
                }
    
                .controls {
                    margin-left: 1rem;
                    z-index: 1;
                }

                &:not(:has(+ .skill-list)) {
                    padding-bottom: 0.2rem;
                }
            }

            .skill-list {
                list-style: none;
                margin: 0;
                padding: 0;
                padding-top: 0.8rem;
                padding-bottom: 0.3rem;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .4) 40%);
                z-index: 1;
            }

            .background-img {
                position: absolute;
                left: 0;
                right: 0;
                opacity: 0.2;
                top: -6rem;
                z-index: 0;
            }

            &.placeholder {
                border: 1px dashed;
                align-items: center;
                justify-content: center;
                padding: 0.45rem 0;
                opacity: 0.5;
                box-shadow: 0 0 1rem 0.1rem black;
                background: #00000036;
            }
        }
    }

    app-character-goals-list,
    app-character-connections-list {
        position: relative;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;

        .goals-list,
        .connections-list {
            list-style: none;
            padding: 0;
            margin: 0 0 0.3rem 0;

            .goal,
            .connection {
                display: flex;
                align-items: center;

                margin: 0;
                padding: 0 0.5rem;

                background: #302831;

                &:not(.collapsed):not(:first-child):not(:last-child) {
                    border-bottom: 1px solid #302831;
                    height:auto;
                    min-height: 1.5rem;
                    padding-top: 0.25rem;
                    padding-bottom: 0.25rem;
                }

                &:not(.details) {
                    height: 2rem;
                }

                &.details {
                    font-size: 10pt;

                    > *:first-child {
                        margin-top: 0;
                    }
                }

                &.header {
                    background: #0f0610;
                    border-top-left-radius: 0.3rem;
                    border-top-right-radius: 0.3rem;
                }

                &.collapsed {
                    visibility: hidden;
                    height: 0;
                }

                &:last-child {
                    border-bottom-left-radius: 0.3rem;
                    border-bottom-right-radius: 0.3rem;
                }

                &.new {
                    background: #251d26;
                    justify-content: center;

                    a {
                        opacity: 0.6;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }

                &.achieved {
                    > * {
                        opacity: 0.5;
                    }

                    > i {
                        opacity: 0.25;
                    }
                }

                > i {
                    font-size: 5pt;
                    opacity: 0.5;
                }

                .title {
                    flex: 1;
                    margin-left: 0.5rem;

                    &.toggle-details {
                        cursor: pointer;
                    }

                    &.inactive {
                        display: none;
                    }
                }

                .progress-pips {
                    list-style: none;
                    flex-direction: row;
                    display: flex;
                    margin: 0;
                    padding: 0;
                    width: 3rem;

                    li {
                        border: 1px solid #665467;
                        width: 0.75rem;
                        height: 0.75rem;
                        border-radius: 50%;
                        background: #0f0610;
                        margin: 0 0.1rem;

                        &.active {
                            background: currentColor;
                        }
                    }
                }

                .controls {
                    display: flex;

                    a {
                        width: 1rem;
                        display: block;
                        text-align: center;
                    }
                }
            }
        }

        .goals-list {
            .goal {
                &:not(:first-child):not(:last-child) {
                    border-bottom: 1px solid #463a47 !important;
                    height: auto;
                    min-height: 1.5rem;
                    padding-top: 0.25rem;
                    padding-bottom: 0.25rem;
                }
            }
        }

        .connections-list {
            .connection {
                &:nth-child(even):not(:last-child) {
                    border-bottom: 1px solid #463a47 !important;
                    height: auto;
                    min-height: 1.5rem;
                    padding-top: 0.25rem;
                    padding-bottom: 0.25rem;
                }
            }
        }

        .bottom-controls {
            display: flex;
            justify-content: flex-end;

            a:not(.active) {
                opacity: 0.5;

                &:hover {
                    opacity: 1;
                }
            }

            .label {
                margin-right: 0.2rem;
            }
        }
    }

    app-character-favorites.list-component {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;

        .header {
            font-size: 12pt;
            color: #f7d856;
        }

        .drop-area {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 2rem;
            border: 1px dashed;
            opacity: 0.5;
            border-radius: 0.3rem;
            box-shadow: 0 0 1rem 0.1rem black;
            margin-top: 0.5rem;

            &.dropping {
                opacity: 1;
            }
        }

        .favorites-list {
            margin: 0;

            .favorite {
                background: unset;
                padding: 0;
                border-bottom: none !important;

                .col.name {
                    font-size: 10pt;
                    margin-left: 0;
                    padding-left: 0.5rem;
                    min-width: 0;

                    .subtitle {
                        font-size: 6.5pt;
                        white-space: nowrap;
                        width: 100%;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }

                .col.activation {
                    width: 2rem;
                    text-align: right;

                    .cosmere-icon {
                        opacity: 1;
                    }
                }

                .col.controls {
                    width: unset;
                    margin-left: 0.5rem;
                }

                &.usable {
                    .img:hover,
                    .img:has(+ .name:hover),
                    .img:has(+ .activation:hover) {
                        .roll-icon {
                            display: block;
                            opacity: 0.6;
                            animation: rotating 2s linear infinite;
                            width: 90%;
                            height: 90%;
                        }
                    }
                }
            }

            .drop-indicator {
                height: 1px;
                background: #af38d4;
                border-radius: 1px;
                box-shadow: 0 0 0.3rem 0 #af38d4;
                opacity: 0.75;
            }
        }
    }
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
