@import './character.scss';
@import './adversary.scss';

.sheet.actor {
    overflow: visible;

    .decorations {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        width: 100%;
        height: 100%;
        border: none;

        .top.left {
            position: absolute;
            width: 50px;
            height: 50px;

            top: calc(-2.25rem - 3px);
            left: -3px;

            path {
                fill: var(--plotweaver-color-accent);
            }
        }

        .top.right {
            position: absolute;
            width: 50px;
            height: 50px;
            transform: scale(-1, 1);

            top: calc(-2.25rem - 3px);
            right: -3px;

            path {
                fill: var(--plotweaver-color-accent);
            }
        }

        .bot.left {
            position: absolute;
            width: 50px;
            height: 50px;
            transform: scale(1, -1);

            bottom: -3px;
            left: -3px;

            path {
                fill: var(--plotweaver-color-accent);
            }
        }

        .bot.right {
            position: absolute;
            width: 50px;
            height: 50px;
            transform: scale(-1, -1);

            bottom: -3px;
            right: -3px;

            path {
                fill: var(--plotweaver-color-accent);
            }
        }
    }

    .window-content {
        overflow: visible;
    }

    > .window-header {
        border: none;
        background: none;

        #mode-toggle {
            display: none;
        }
    }

    &:not(.minimized) > .window-header {
        #mode-toggle {
            display: unset;
        }

        .window-title {
            visibility: hidden;
        }
    }

    > *:not(.window-header) {
        .controls-dropdown.expanded {
            max-height: unset;
        }
    }

    nav {
        // Tab icons and navigation
        border: none;
        flex-direction: column;
        position: absolute;

        left: calc(100% + 2px);
        top: 20%;
        gap: calc(0.75rem + 3px);

        > a {
            position: relative;
            width: 34px;
            height: 36px;
            left: -1px;

            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0s;

            color: var(--plotweaver-color-accent);
            background: var(--plotweaver-color-sheet);

            .border {
                position: absolute;
                left: -2px;
                top: -2px;
                width: calc(100% + 4px);
                height: calc(100% + 4px);
                border-image: url("/systems/cosmere-rpg/assets/icons/ui/border_tab_closed.svg") fill 16 / 32px;
                filter: var(--plotweaver-color-accent-filter);
                pointer-events: none;
            }

            &.active {
                width: 39px;
                background-color: var(--plotweaver-color-base-4);
                left: 1px;

                .border {
                    position: absolute;
                    left: -2px;
                    top: -2px;
                    width: calc(100% + 4px);
                    height: calc(100% + 4px);
                    filter: var(--plotweaver-color-accent-filter);
                    pointer-events: none;
                }
            }

            label {
                position: absolute;
                z-index: 1;
                padding: 3px;
                top: 85%;

                visibility: hidden;
                text-shadow: none;
            }

            &:hover {
                label {
                    transition-delay: 1s;
                    visibility: visible;
                    padding: 3px;

                    color: var(--plotweaver-color-off-white-1);
                    background-color: var(--plotweaver-color-sheet);
                    border: 1px solid var(--plotweaver-color-faded);
                    border-radius: 3px;
                }
            }
        }
    }

    .sheet-header {
        width: 100%;
        padding: 0 0.5rem;
        margin-bottom: 1rem;

        .title {
            flex-direction: column;
            align-items: flex-start;

            .document-name > input {
                margin: 0;
                text-align: left;
                font-size: inherit;
                background-color: var(--plotweaver-color-base-3);
                color: var(--plotweaver-color-off-white-1);
            }

            .document-name{
                text-transform: capitalize;
                color: var(--plotweaver-color-off-white-1);
            }

            .details {
                text-transform: uppercase;
                color: var(--plotweaver-color-accent);
                font-size: 10pt;
                margin-top: 0.3rem;

                .delim {
                    color: var(--plotweaver-color-off-white-1);
                    opacity: 0.5;
                }

                select {
                    width: unset;
                }
            }
        }

        .level-details {
            flex: unset;
            display: flex;
            align-items: center;

            .advance {
                margin-top: 1rem;
                font-size: 13pt;
            }

            .level {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: -0.5rem;

                .label {
                    color: var(--plotweaver-color-off-white-1);
                    text-transform: uppercase;
                    font-size: 8pt;
                    z-index: 1;
                    margin-bottom: 2px;
                }

                .container {
                    position: relative;
                    display: flex;
                    align-items: center;
                    text-align: center;

                    background-color: var(--plotweaver-color-sheet);

                    width: 58px;
                    height: 58px;

                    .border {
                        position: absolute;
                        left: -2px;
                        top: -2px;
                        width: calc(100% + 4px);
                        height: calc(100% + 4px);
                        border-image: url("/systems/cosmere-rpg/assets/icons/ui/border_level.svg") fill 29 / 58px;
                        filter: var(--plotweaver-color-accent-filter);
                        pointer-events: none;
                        z-index: 1;
                    }

                    svg {
                        position: absolute;

                        path {
                            fill: var(--plotweaver-color-base-4);
                        }
                    }

                    .value {
                        color: var(--plotweaver-color-off-white-1);
                        z-index: 1;
                        font-size: 2rem;

                        margin-bottom: 2px;
                    }
                }
            }
        }
    }

    .sheet-content {
        // Positioning of content
        width: 100%;
        padding: 0.5rem;
        align-items: flex-start;
        flex: 1;

        .col-left {
            height: 100%;
            display: flex;
            flex-direction: column;

            width: 26%;
            flex: unset;
        }

        .col-main {
            flex: 1;
            display: flex;
            flex-direction: column;
            margin-left: 1rem;
            height: 100%;

            .tab-body {
                flex: 1;
                display: flex;
                padding-top: 0.25rem;

                .tab {
                    flex: 1;
                }
            }

            .tab-content.active {
                flex: 1;
                display: flex;
                align-items: flex-start;
                width: 100%;

                section.skills {
                    margin: 0 0.5rem;
                }

                section.paths {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    margin: 0 0.5rem;
                }
            }
        }
    }

    .value {
        text-align: center;
        font-size: 18pt;
        font-weight: bold;
        width: 100%;
    }

    /* --- Tabs --- */

    .tab[data-tab] {
        flex-direction: column;
    }
}

/* --- Components --- */

.application {
    app-actor-details {
        // Actor image and derived statistics
        display: flex;
        flex-direction: column;
        margin-bottom: 8px;

        .portrait-info {
            // Character sheet portrait values
            display: flex;
            position: relative;
            justify-content: center;

            .portrait {
                display: flex;

                width: 100%;
                aspect-ratio: 1 / 1;
                overflow: hidden;

                border: 0.3rem solid;
                border-radius: 50%;
                filter: drop-shadow(2px 4px 6px black);
                border-color: var(--plotweaver-color-accent);

                img {
                    min-width: 100%;
                    object-fit: cover;
                    object-position: top;
                    border: none;
                }
            }

            a.rest {
                // Short and Long Rest buttons
                position: absolute;
                width: 1.3rem;
                height: 1.3rem;

                color: var(--plotweaver-color-black);
                background-color: var(--plotweaver-color-off-white-1);

                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                font-size: 9.5pt;

                &.short-rest {
                    top: 2px;
                    right: 18px;
                }

                &.long-rest {
                    top: 20px;
                    right: 0;
                }
            }

            .deflect {
                position: absolute;
                top: calc(100% - 1rem);
            }
        }

        .derived-statistics {
            // Movement, Recover and Sense derived statistics
            margin-top: 1.75rem;
            gap: 0.25rem;

            .derived-stat {
                display: flex;
                flex-direction: column;
                align-items: center;

                &.movement,
                &.senses {
                    transform: translateY(-1.20rem);
                }

                .container {
                    width: 54px;
                    height: 26px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0.1rem 0.4rem;

                    background-color: var(--plotweaver-color-sheet);

                    svg {
                        position: absolute;
                        width: 58px;
                        height: 30px;
                        pointer-events: none;

                        path {
                            fill: var(--plotweaver-color-accent);
                        }
                    }

                    .value {
                        color: var(--plotweaver-color-off-white-1);
                        font-size: 14pt;
                    }

                    .unit {
                        color: var(--plotweaver-color-faded);
                        text-transform: uppercase;
                        font-size: 8pt;
                    }
                }

                .label {
                    text-transform: uppercase;
                    font-size: 9pt;
                    margin-top: 0.1rem;
                }
            }
        }

        .deflect {
            // Deflect shield
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--plotweaver-color-sheet); // url("/systems/cosmere-rpg/assets/icons/ui/border_deflect.svg");

            // Approximation of background
            width: calc(2rem - 3px);
            height: calc(2.25rem - 3px);
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;

            span {
                margin: -0.1rem 0 0.3rem 0 !important
            }

            a[data-action="configure-deflect"] {
                position: absolute;
                font-size: 6pt;
                left: 1.2rem;
                top: 0;
            }

            svg {
                position: absolute;
                width: 32px;
                height: 38px;

                path {
                    fill: var(--plotweaver-color-accent);
                }
            }
        }
    }

    app-actor-resource {
        display: flex;
        flex-direction: column;
        position: relative;

        .resource {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 8px;

            .header {
                display: flex;
                align-items: center;
                width: 100%;
                height: 18px;
                padding-right: 0.5rem;

                .label {
                    color: var(--plotweaver-color-faded);
                    flex: 1;
                    text-transform: uppercase;
                    font-size: 8pt;
                    margin-left: 0.6rem;
                    height: 18px;
                }
            }

            .border {
                position: absolute;
                top: 18px;
                width: 100%;
                height: 28px;
                border-image: url("/systems/cosmere-rpg/assets/icons/ui/border_bar.svg") fill 14/180px;
                filter: var(--plotweaver-color-accent-filter);
                z-index: 3;
                pointer-events: none;
            }

            .bar {
                width: calc(100% - 3px);
                height: 24px;
                display: flex;
                position: relative;
                margin: 2px;

                &.editable {
                    cursor: pointer;
                }

                .value {
                    position: relative;
                    z-index: 1;
                    margin-left: 1rem;
                    text-align: left;
                    text-shadow: 0 0 0.3rem black;
                    bottom: 3px;
                    font-size: 16pt;

                    .delim {
                        font-weight: normal;
                    }
                }

                .inner-bar {
                    position: absolute;
                    height: 100%;
                    top: 0;
                    left: 0;
                }

                input {
                    display: none;

                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    z-index: 2;

                    font-weight: bold;
                    font-size: 18pt;
                    background: none;
                    color: inherit;
                }

                &.editing {
                    .value {
                        display: none;
                    }

                    input {
                        display: block;
                    }
                }
            }

            &.hea {
                .bar {
                    background: var(--plotweaver-color-health-back);

                    .inner-bar {
                        background: var(--plotweaver-color-health-front);
                    }
                }
            }

            &.foc {
                .bar {
                    background: var(--plotweaver-color-focus-back);

                    .inner-bar {
                        background: var(--plotweaver-color-focus-front);
                    }
                }
            }

            &.inv {
                .bar {
                    background: var(--plotweaver-color-invest-back);

                    .inner-bar {
                        background: var(--plotweaver-color-invest-front);
                    }
                }
            }
        }
    }

    app-actor-attributes {
        .attribute-group {
            display: flex;
            flex-direction: column;
            margin: 0 5pt;
            height: 100%;

            > .label {
                margin-bottom: 0.25rem;

                color: var(--plotweaver-color-off-white-1);
                text-align: center;
                font-size: 12pt;
                text-transform: uppercase;
                font-weight: bold;
            }

            .attributes {
                .attribute {
                    position: relative;
                    width: 58px;
                    height: 50px;

                    .border.right {
                        position: absolute;
                        top: 0;
                        width: 58px;
                        height: 54px;

                        border-image: url("/systems/cosmere-rpg/assets/icons/ui/border_attribute_right.svg") fill 20 / 58px;
                        filter: var(--plotweaver-color-accent-filter);
                        pointer-events: none;
                    }

                    .border.left {
                        position: absolute;
                        top: 0;
                        width: 58px;
                        height: 54px;

                        border-image: url("/systems/cosmere-rpg/assets/icons/ui/border_attribute_left.svg") fill 20 / 58px;
                        filter: var(--plotweaver-color-accent-filter);
                        pointer-events: none;
                    }
                }
            }

            > section {
                margin-bottom: 0.5rem;
            }
        }

        .attribute {
            padding: 8px 0;

            .box-title {
                width: 58px;
                margin-bottom: -1.2rem;
                z-index: 1;
                font-size: 8pt;

                color: var(--plotweaver-color-off-white-1);
            }

            .value {
                display: flex;
                width: 52px;
                height: 48px;
                margin-left: 3px;
                color: var(--plotweaver-color-off-white-1);

                input {
                    padding-top: 20px;
                    height: 100%;
                    font-size: 20pt !important;
                    padding-bottom: 0.5rem;
                    background-color: var(--plotweaver-color-sheet);
                    border: none;
                }
            }

            &:first-child, &:last-child {
                .value input {
                    font-weight: bold;
                }
            }
        }

        .defense {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            svg {
                position: absolute;
                width: 40px;
                height: 50px;
                margin-top: 2px;
                pointer-events: none;

                path {
                    fill: var(--plotweaver-color-accent)
                }
            }

            .defense-box {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                margin-top: 1rem;

                    // approximation for the background
                background-color: var(--plotweaver-color-base-1);
                border-bottom-left-radius: 50%;
                border-bottom-right-radius: 50%;
                padding-bottom: 0.2rem;
                width: calc(40px - 0.2rem);
                height: calc(50px - 0.2rem);

                .value {
                    font-size: 13pt;
                }

                > a {
                    font-size: 6pt;
                    position: absolute;
                    top: 0.1rem;
                    right: 0.1rem;
                }
            }
        }
    }

    app-adversary-actions-list,
    app-actor-actions-list,
    app-actor-equipment-list {
        display: flex;
            flex-direction: column;

        color: var(--plotweaver-color-off-white-1);
        overflow: hidden;

        .actions-list {
            border-radius: 0.3rem;

            .item.header {
                height: 2rem;
                background: var(--plotweaver-color-base-1) !important;
                display: flex;
                align-items: center;
                padding: 0 0.5rem;
            }

            .item.usable,
            .details.expanded {
                background: var(--plotweaver-color-base-3);
            }
        }
    }

    .list-component {
        overflow: visible;
        position: relative;
        width: 100%;

        [class*='-list'] {
            list-style: none;
            margin: 0;
            padding: 0;
            margin-top: 1rem;

            li {
                margin: 0;
            }

            .item,
            .injury,
            .effect {
                background: #302831;
                height: 2.3rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0 0.5rem;

                &.header {
                    background: #0f0610;
                    border-top-left-radius: 0.3rem;
                    border-top-right-radius: 0.3rem;
                }

                &:nth-last-child(2):not(.expanded),
                &:nth-last-child(2).expanded + li {
                    border-bottom-left-radius: 0.3rem;
                    border-bottom-right-radius: 0.3rem;
                }

                &:not(:first-child):not(:nth-last-child(2)) {
                    border-bottom: 1px dashed var(--plotweaver-color-base-6);

                    &.expanded {
                        border-bottom-color: transparent;
                    }
                }

                &:not(.header) {
                    .name {
                        margin-left: 0.5rem;
                    }
                }

                .img {
                    display: flex;
                    cursor: pointer;
                    position: relative;
                    align-items: center;
                    justify-content: center;

                    > img {
                        width: 1.85rem;
                        height: 1.85rem;
                    }

                    .roll-icon {
                        display: none;
                        position: absolute;
                        z-index: 1;
                        border: none;
                    }
                }

                &.usable .img {
                    &:hover {
                        .roll-icon {
                            display: block;
                            opacity: 0.6;
                            animation: rotating 2s linear infinite;
                            width: 90%;
                            height: 90%;
                        }
                    }
                }

                .col:not(.controls) {
                    > a {
                        width: 2rem;

                        &:hover i {
                            opacity: 1;
                        }
                    }

                    i {
                        opacity: 0.3;
                    }
                }

                .name {
                    flex: 1;
                    cursor: pointer;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                    .subtitle {
                        font-size: 7.5pt;

                        span:not(.highlight) {
                            opacity: 0.4;
                        }
                    }
                }

                .activation,
                .consume,
                .uses,
                .weight,
                .quantity,
                .duration,
                .source {
                    text-align: center;

                    .val.none {
                        opacity: 0.3;
                    }
                }

                .activation {
                    width: 3rem;

                    i {
                        opacity: 1 !important;
                    }
                }

                .consume {
                    width: 6.5rem;
                }

                .uses {
                    width: 6.5rem;

                    .inactive {
                        opacity: 0.3;
                    }
                }

                .quantity {
                    width: 5rem;
                    display: flex;
                    justify-content: center;
                }

                .weight {
                    width: 4rem;

                    i {
                        opacity: 0.3;
                    }
                }

                .equip {
                    width: 4rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;

                    img {
                        border: none;
                    }

                    a {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;

                        img {
                            opacity: 0.3;

                            &.hold-2h {
                                width: 2rem;
                                transform: rotate(25deg);
                            }
                        }

                        &.compound {
                            width: 2rem;

                            > img {
                                opacity: 1;
                                position: absolute;
                                width: 1.7rem;

                                &.inactive {
                                    opacity: 0.3;
                                }
                            }
                        }
                    }

                    &.equipped {
                        a:not(.compound) .icon {
                            opacity: 1;
                        }
                    }

                    &:not(.equipped) {
                        a.compound > img {
                            opacity: 0.3;
                        }
                    }
                }

                .duration,
                .source {
                    width: 10rem;
                    display: flex;
                    justify-content: center;
                }

                .action {
                    > a.active i {
                        opacity: 1;
                    }
                }

                .action {
                    width: 3rem;
                }

                .controls {
                    height: 100%;

                    > * {
                        display: flex;
                        width: 1rem;
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                    }

                    &.edit {
                        width: 5rem;
                    }
                }

                &:not(.header) .controls {
                    color: rgba(231, 209, 177, 0.3);
                }

                &:not(.expanded) {
                    .controls
                        > a[data-action='toggle-action-details']
                        .icon-expanded {
                        display: none;
                    }
                }

                &.expanded {
                    .controls > a[data-action='toggle-action-details'] .icon {
                        display: none;
                    }
                }
            }

            .details {
                background: #302831;
                display: none;

                &.expanded {
                    display: flex;
                    padding: 0 0.5rem;

                    &:not(:last-child) {
                        border-bottom: 1px dashed var(--plotweaver-color-base-6);
                    }
                }
            }
        }
    }

    app-actor-search-bar {
        display: flex;
        width: 100%;

        .search-bar {
            position: relative;
            padding-right: 0.5rem;
            background: var(--plotweaver-color-base-1);
            display: flex;
            align-items: center;
            border-radius: 0.3rem;
            width: 100%;
            color: #e7d1b14a;

            > i {
                position: absolute;
                left: 0.5rem;
            }

            input {
                // gets overwritten
                padding-left: 2rem !important;
                color: var(--plotweaver-color-off-white-1) !important;
                background-color: var(--plotweaver-color-base-1) !important;

                &::placeholder {
                    color: #e7d1b14a;
                }
            }

            .controls {
                > a {
                    text-align: center;
                    width: 2rem;

                    &.active {
                        color: #d0b8a3;
                    }
                }
            }
        }
    }

    app-actor-conditions {
        display: flex;
        flex-direction: column;
        width: 100%;

        margin-top: 1rem;
    border-radius: 0.3rem;
    overflow: hidden;
    border: 1px solid var(--plotweaver-color-base-4);

        .header {
            height: 2rem;
            background: var(--plotweaver-color-base-1);
            display: flex;
            align-items: center;
            padding: 0 0.5rem;
        }

        .conditions-set {
            display: grid;
            grid-template-columns: 33.3% 33.3% 33.4%;

            &:not(.editable) {
                pointer-events: none;
            }
        }

        .condition {
            color: var(--plotweaver-color-accent);
        background-color: var(--plotweaver-color-base-3);
        display: flex;
        height: 2rem;
        align-items: center;
        padding: 0 0.5rem;

            &:not(:nth-last-child(-n + 3)) {
                border-bottom: 1pt dashed var(--plotweaver-color-base-6);
            }

            &:not(:nth-child(3n)) {
                border-right: 1pt dashed var(--plotweaver-color-base-6);
            }

            &:not(.active) > a {
                opacity: 0.3;
            color: var(--plotweaver-color-off-white-1);

                &:hover {
                    opacity: 1;
                }
            }

            a {
                flex: 1;
                display: flex;
                align-items: center;
            }

            .icon {
                border: none;
                width: 1.2rem;
                height: 1.2rem;
                margin-right: 0.5rem;
            }

            .name {
                flex: 1;
            }
        }
    }

    app-actor-injuries-list,
    app-actor-equipment-list {
        display: flex;
        flex-direction: column;

        color: var(--plotweaver-color-off-white-1);
        overflow: hidden;

        .injuries-list,
        .equipment-list {
            border-radius: 0.3rem;

            .injury.header,
            .item.header {
                height: 2rem;
                background: var(--plotweaver-color-base-1) !important;
                display: flex;
                align-items: center;
                padding: 0 0.5rem;
            }

            .injury.item,
            .item,
            .item.usable,
            .details.expanded {
                background: var(--plotweaver-color-base-3) !important;
            }
        }
    }

    app-actor-effects-list {
        .effects-list:not(.editable) {
            pointer-events: none;
        }
    }

    app-actor-skills-group,
    app-adversary-skills-group {
        position: relative;

        &:has(> *) {
            display: flex;
            padding: 0.4rem 0.2rem;
            margin-bottom: calc(1.25rem - 1px);

                background: var(--plotweaver-color-base-1);

            .border {
                position: absolute;
                left: -3px;
                top: -3px;
                width: calc(100% + 6px);
                height: calc(100% + 6px);
                border-image: url("/systems/cosmere-rpg/assets/icons/ui/border_full_100x100.svg") fill 80 / 58px;
                filter: var(--plotweaver-color-accent-filter);
                pointer-events: none;
            }
        }

        .skill-list {
            color: var(--plotweaver-color-off-white-1);
            flex: 1;
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 6px 0;
            gap: 2px;
        }
    }

    app-adversary-skills-group {
        font-size: 9.6pt;
    }

    app-actor-skill {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-shadow: 0 0 0.2rem black;

        &:hover {
            text-shadow: 0 0 8px var(--color-shadow-primary);
        }

        [data-action] {
            cursor: pointer;
        }

        .mod {
            width: 2rem;
            text-align: center;
            margin: 0 0.3rem;

            .operator {
                opacity: .5;
            }

            .val {
                font-weight: bold;
            }
        }

        .name {
            flex: 1;
        }

            .attribute {
                width: 3rem;
                text-align: center;
                margin: 0 0.3rem;
                color: var(--plotweaver-color-accent);
            }

        .pip-list {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            padding: 0;
            margin: 0 0.3rem 0 0;

            .pip {
                > div {
                    width: 0.65rem;
                    height: 0.65rem;
                    border: 1px solid var(--color-dark-6);
                    border-radius: 50%;
                    margin: 0.1rem;
                }

                &.active {
                    > div {
                        background-color: white;
                    }
                }

                &:not(.active) > div {
                    opacity: .5;
                }
            }
        }
    }
}
