<div class="overlay overlay-d20">
    <div data-action="retro" data-state="kl" data-tooltip="{{ localize "COSMERE.ChatMessage.Buttons.RollDisadvantage" }}">
        <img src="{{imgDisadvantage}}">
    </div>
    <div data-action="retro" data-state="kh" data-tooltip="{{ localize "COSMERE.ChatMessage.Buttons.RollAdvantage" }}">
        <img src="{{imgAdvantage}}">
    </div>
</div>