<div class="chat-card skill">
    <section class="header description">
        <header class="summary">
            <div class="name stacked">
                <span class="title">
                    {{ name }}
                </span>
            </div>
        </header>
    </section>
</div>

{{#if rolls}}
<div class="card-rolls">
    {{#each rolls as |roll|}}
    {{> roll-details roll}}
    {{/each}}
</div>
{{/if}}