{{#with (lookup tabsMap "details") as |tab|}}

<div class="tab tab-content {{tab.cssClass}}" data-tab="details" data-group="primary">
    <div class="form-group">
        <label>{{localize "COSMERE.Item.Sheet.Loot.IsMoney"}}</label>
        <input name="system.isMoney" 
            type="checkbox"
            {{#if @root.item.system.isMoney}}
            checked
            {{/if}}
            {{#if (not @root.editable)}}
            readonly
            {{/if}}
        >
    </div>
    <p class="notes">
        {{localize "COSMERE.Item.Sheet.Loot.IsMoneyDescription"}}
    </p>
</div>

{{/with}}