app-multi-state-toggle {
    position: relative;
    display: flex;
    font-size: 9pt;
    align-items: center;
    justify-content: space-around;
    background: #302831;
    height: 1.25rem;
    border-radius: 0.75rem;
    overflow: hidden;

    input[type='radio'] {
        display: none;
    }

    label {
        flex: 1;
        text-align: center;
        z-index: 1;
        cursor: pointer;
        text-shadow: 0 0 0.2rem black;
    }

    .selected {
        position: absolute;
        height: 100%;
        transition: 0.3s;
        background: grey;
        z-index: 0;
    }
}

app-document-reference-input {
    --input-background-color: var(--color-cool-4);
    --input-border-color: transparent;
    --input-text-color: var(--color-light-3);
    --input-placeholder-color: var(--color-light-4);
    --input-focus-outline-color: var(--color-cool-3);

    &[readonly] {
        --input-background-color: var(--color-cool-5);
        --input-border-color: var(--color-cool-4);
        --input-text-color: var(--color-light-4);
    }
}

app-document-reference-input {
    height: var(--input-height);
    line-height: var(--input-height);
    padding: 0 0.5rem;
    background: var(--input-background-color);
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    outline: 1px solid transparent;
    color: var(--input-text-color);
    user-select: text;
    font-size: var(--font-size-14);
    transition: outline-color 0.5s;

    &.dragover {
        outline: 2px solid var(--input-focus-outline-color);
        box-shadow: 0 0 5px var(--color-shadow-primary);
    }
}

app-document-reference-input {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;

    .content {
        flex: 1;
    }

    .placeholder {
        color: var(--input-placeholder-color);
        opacity: 0.75;
        font-style: italic;
    }
}

app-multi-value-select {
    display: flex;

    .values {
        flex: 1;
        display: flex;
        flex-wrap: wrap;

        .value {
            --background: rgba(0, 0, 0, 0.1);

            display: flex;
            align-items: center;
            background: var(--background);
            padding: 1px 4px;
            border: 1px solid var(--color-border-dark-tertiary);
            border-radius: 2px;
            white-space: nowrap;
            margin: 0.12rem;

            .controls {
                margin-left: 0.25rem;
            }
        }
    }
}

app-document-drop-list {
    --input-focus-outline-color: var(--color-cool-3);

    display: block;
    border: 1px dashed var(--color-dark-4);
    padding: 0 0.5rem;
    border-radius: 0.3rem;
    outline: 1px solid transparent;
    transition: outline-color 0.5s;

    ul {
        .document {
            display: flex;
            align-items: center;

            .link {
                flex: 1;
                display: flex;
                justify-content: center;
            }
        }
    }

    p {
        text-align: center;
        font-size: 10pt;
        font-style: italic;
        color: var(--color-dark-4);
        text-shadow: 0 0 0.2rem black;
    }

    &.dragover {
        outline: 2px solid var(--input-focus-outline-color);
        box-shadow: 0 0 5px var(--color-shadow-primary);
    }
}