dialog.application {
    label:has(+ input[type='checkbox'][readonly]) {
        opacity: 0.5;
    }

    form {
        height: 100%;
        overflow: auto;
    }
}

dialog.application ul {
    list-style: none;

    margin: 0.25rem 0;
    padding: 0;

    li {
        padding: 0.2rem 0;

        &.form-group {
            > a {
                flex: unset;
                margin-left: 0.5rem;
            }
        }
    }
}

dialog.application .edit-expertises {
    .form-group.add-custom {
        height: 2rem;
    }
}
