<form>
    {{!-- Width --}}
    {{formGroup 
        schema.fields.width
        value=width
        localize=true
        name="width"
    }}

    {{!-- Height --}}
    {{formGroup
        schema.fields.height
        value=height
        localize=true
        name="height"
    }}

    {{!-- Submit --}}
    <br>
    <div class="form-group">
        <button data-action="update" type="submit">
            {{localize "GENERIC.Button.Update"}}
        </button>
    </div>
</form>