.window-content .sheet > * {
    flex: unset;
}

.window-content .sheet,
.sheet-body {
    display: flex;
    flex-direction: column;
    flex: 1 !important;
}

.box-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 9pt;
    font-weight: bold;
}

.sheet {
    .value {
        text-align: center;
        font-size: 18pt;
        font-weight: bold;
        margin: 0.25ch;
    }
}

.rollable {
    cursor: pointer;
}

.sheet {  
    .tabs {
        nav {
            align-items: center;

            a {
                font-weight: bold;
                text-align: center;

                &.active {
                    text-decoration: underline;
                }
            }
        }

        .tab-body {
            position: relative;

            .scroll-container {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                overflow-y: scroll;
            }
        }
    }

    .actions-list,
    .inventory-list {
        margin: 0;
        padding: 0;

        .item-image {
            width: 2rem;
            height: 2rem;
        }

        .item-header {
            height: 2rem;
            align-items: center;

            &:not(:first-of-type) {
                margin-top: 1rem;
            }

            .name {
                font-weight: bold;
                font-size: 13pt;
            }
        }
        
        .item {
            display: flex;
            flex-direction: row;
            padding-right: 1rem;
            margin-top: .2rem;

            &:hover {
                background: rgba(0, 0, 0, 0.15);
            }
        
            .item-name {
                flex: 1;
                display: flex;
                flex-direction: row;
                align-items: center;
        
                .name {
                    display: flex;
                    flex-direction: column;
                    margin-left: .75rem;
        
                    .title {
                        font-weight: bold;
                    }
        
                    .subtitle {
                        font-size: 8pt;
                        opacity: .75;
                    }   
                }
            }
        
            .skill-test, .damage, .consume, .charges {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: 2rem;
                width: 5rem;
        
                .val {
                    font-weight: bold;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    margin-top: .1rem;
                }
        
                .sub {
                    font-size: 8pt;
                    opacity: .75;
                }
            }

            .item-controls {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 2.5rem;

                > a {
                    margin: .2rem;
                }
            }
        }
    }
}