.sheet .window-content {
    display: flex;
    min-height: 0;
    overflow: hidden;

    .sheet-content {
        min-height: 0;
        flex: 1;
    }
}

.window-content .sheet > * {
    flex: unset;
}

.window-content .sheet,
.sheet-body {
    display: flex;
    flex-direction: column;
    flex: 1 !important;
}

.box-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 9pt;
    font-weight: bold;
}

.application.sheet {
    .value {
        text-align: center;
        font-size: 18pt;
        font-weight: bold;
        margin: 0.25ch;
    }

    .form-group input::placeholder {
        opacity: 0.5 !important;
    }
}

.sheet .tab-body {
    min-height: 0;
    overflow-y: auto;

    .tab-content {
        position: relative;
    }
}
