{{#if hasActions}}
<hr>

<div class="card-actions">
    {{#each groups as |actions groupIndex|}}
    {{#each actions as |action index|}}
    <a class="action" data-item="{{groupIndex}}-{{index}}"
        data-tooltip="{{action.name}}"
    >
        <i class="{{action.icon}}"></i>
    </a>
    {{/each}}
    {{#if (not @last)}}
    <div class="delim"></div>
    {{/if}}
    {{/each}}
</div>
{{/if}}