{{#if rolls}}
<div class="card-rolls">
    {{#each rolls as |roll|}}
    {{> roll-details roll}}
    {{/each}}
</div>
{{/if}}

{{#if damageRolls}}
<div class="card-rolls damage">
    <span class="title">{{localize "DICE.Damage.Label"}}</span>
    {{#each damageRolls as |roll|}}
    {{> roll-details roll}}
    {{/each}}
</div>
{{/if}}