<ul class="skill-list">
    <div class="border"></div>
    {{#each skills as |skill|}}

    {{#if skill.active}}
    <li class="skill flexrow" data-id="{{skill.id}}">
        {{app-actor-skill skill=skill.id readonly=(not @root.isEditMode)}}
    </li>
    {{/if}}

    {{/each}}
</ul>