<section class="sheet-content">
    {{app-item-header}}
    {{> tabs tabs=tabs includeLabel=false}}
    <section class="tab-body">
        {{> item-description-tab}}
        {{> ancestry-details-tab}}
        {{> item-effects-tab}}
    </section>
</section>