{{#if hasId}}
<div class="form-group">
    <label>{{localize systemFields.id.label}}</label>
    {{app-id-input
        name="system.id"
        value=item.system.id
    }}
</div>
<p class="notes">
    {{localize systemFields.id.hint type=type}}
</p>
{{/if}}