{{#if hasId}}
<div class="form-group">
    <label>{{localize "COSMERE.Item.Sheet.Identifier.Label"}}</label>
    {{app-id-input
        name="system.id"
        value=item.system.id
    }}
</div>
<p class="notes">
    {{note}}
</p>
{{/if}}