<header class="sheet-header">
    <img name="img" src="{{item.img}}" data-action="edit-img">
    <span class="document-name" data-action="edit-name">
        <span>{{item.name}}</span>
        <input name="name"
            type="text"
            value="{{item.name}}"
            style="display: none;"
        >
    </span>
    <span class="document-type">
        {{localize typeLabel}}
    </span>
</header>