<header class="sheet-header">
    <img name="img" src="{{item.img}}" data-action="edit-img">
    <span class="document-name">
        {{item.name}}
    </span>
    <span class="document-type">
        {{localize typeLabel}}
    </span>
</header>