@import './style/sheets/module.scss';
// @import './style/chat/module.scss';

@font-face {
    font-family: 'cosmere-dingbats';
    src: url("https://dl.dropboxusercontent.com/scl/fi/9909gen4fd0oveyzfposx/CosmereDingbats-Regular.otf?rlkey=ig6odq9hxyo1st8kt3ujp1czz&st=72qrads3&raw=1")
}

i.cosmere-icon {
    font-family: 'cosmere-dingbats';
    font-style: normal;
}
