.sheet.item {
    overflow: visible;

    .window-content {
        overflow: visible;
    }

    .sheet-content {
        display: flex;
        flex-direction: column;
    }

    nav {
        border: none;
        flex-direction: column;
        position: absolute;
        left: 100%;
        top: 15%;

        > a {
            background: rgba(11, 10, 19, 0.9);
            width: 2.88867rem;
            height: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #302831;
            border-top-right-radius: 0.3rem;
            border-bottom-right-radius: 0.3rem;

            &.active {
                background-color: rgb(45 41 77 / 90%);
            }
        }
    }

    .sheet-header {
        position: relative;
        border-bottom: 1px solid var(--plotweaver-color-grey-5);
        padding-bottom: 0.5rem;

        .document-name {
            font-weight: bold;
            font-size: 20pt;
            cursor: pointer;
            margin-right: 4rem;

            input {
                font-weight: inherit;
                font-size: inherit;
            }
        }

        img {
            cursor: pointer;
        }

        .document-type {
            position: absolute;
            top: 0;
            right: 0;
            font-style: italic;
            font-size: 12pt;
            opacity: 0.5;
        }
    }

    .tab-body {
        flex: 1;
        display: flex;
        margin-top: 0.5rem;

        .tab {
            height: 100%;
            width: 100%;
            max-width: max(80ch, 80%);
            margin-left: auto;
            margin-right: auto;
        }

        table {
            margin: 0;
        }
    }

    .editor {
        height: 100%;
        width: 100%;
    }

    p.notes {
        color: #efe6d8bf;
    }

    fieldset:not(:first-child) {
        margin-top: 0.5rem;
    }

    .form-group {
        span.units {
            color: #efe6d8bf;
        }

        input + select,
        select + select {
            margin-left: 0.5rem;
        }

        .input-group {
            display: flex;
            align-items: center;
            padding: 0 0.5rem;

            > * {
                flex: 1;
            }

            .delim {
                flex: unset;
                margin: 0 0.25rem;
            }

            input:has(+ select + select) {
                width: 3rem;
                flex: unset;
            }
        }
    }

    select option {
        background: var(--color-cool-4);
    }

    &.action,
    &.talent,
    &.weapon {
        min-height: 500px;
    }
}

/* --- Tabs ---*/

.tab[data-tab='description'].active {
    display: flex;
}

.tab[data-tab='details'].active {
    font-size: 10pt;

    h5 {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    input,
    select {
        font-size: 10pt;
        height: 1.75rem;
    }

    input[type='checkbox'] {
        width: 20px;
        height: 20px;
    }
}

/* --- Components ---*/

app-item-effects-list {
    display: block;
    margin-top: 0.5rem;

    .effects-list {
        padding: 0;
        margin: 0;

        .effect {
            display: flex;
            flex-direction: row;
            align-items: center;
            background: #302831;
            height: 2rem;
            padding: 0 0.5rem;
            margin: 0;

            .col.name {
                flex: 1;
            }

            .col.img {
                display: flex;
                margin-right: 1rem;

                img {
                    width: 1.75rem;
                    height: 1.75rem;
                }
            }

            .col.source {
                width: 7rem;
                text-align: center;
            }

            .col.duration {
                width: 5rem;
                text-align: center;
            }

            .col.controls {
                margin-left: 1rem;

                > * {
                    width: 1rem;
                    text-align: center;
                }
            }

            &.header {
                background: #0f0610;
                border-top-left-radius: 0.3rem;
                border-top-right-radius: 0.3rem;
                font-weight: bold;
            }

            &:not(.header):not(:last-child) {
                border-bottom: 1px solid #463a47;
            }

            &:last-child {
                border-bottom-left-radius: 0.3rem;
                border-bottom-right-radius: 0.3rem;
            }
        }
    }
}

app-item-talent-picks-list {

    .talent-picks-list {
        display: grid;
        grid-template-columns: [level-start] 8ch [level-end quantity-start] 8ch [quantity-end controls-start] 10ch [controls-end];
        justify-content: center;
        padding: 0;
        margin-top: 0.5rem;

        .talent-picks {
            align-self: center;
            text-align: center;
            background: #302831;
            height: 2rem;
            padding: 0 0.5rem;
            margin: 0;

            span {
                display: block;
                height: 100%;
            }

            .controls {
                margin-left: 1rem;

                > * {
                    width: 1rem;
                    text-align: center;
                }
            }

            &.header {
                background: #0f0610;
                border-top-left-radius: 0.3rem;
                border-top-right-radius: 0.3rem;
                font-weight: bold;
            }

            &:not(.header):not(:last-child) {
                border-bottom: 1px solid #463a47;
            }

            &.new {
                grid-column: level-start / controls-end;
                background: #251d26;
                justify-self: center;
                width: 100%;

                a {
                    display: inline-flex;
                    gap: 5px;
                    align-items: center;
                    opacity: 0.6;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            &:last-child {
                border-bottom-left-radius: 0.3rem;
                border-bottom-right-radius: 0.3rem;
            }
        }
    }
}

app-item-talents-list {
    margin-top: 0.5rem;

    .talents-list {
        width: fit-content;
        display: grid;
        grid-template-columns: [id-start] 16ch [id-end name-start] minmax(20ch, 1fr) [name-end level-start] 10ch [level-end controls-start] 10ch [controls-end];
        // align-items: center;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;

        .talent {
            align-self: center;
            text-align: center;
            background: #302831;
            height: 2rem;
            padding: 0 0.5rem;
            margin: 0;

            span {
                display: block;
                height: 100%;
            }

            .id {
                margin-right: 1rem;
            }

            .name {
                text-align: start;
            }

            .controls {
                margin-left: 1rem;

                > * {
                    width: 1rem;
                    text-align: center;
                }
            }

            &.header {
                background: #0f0610;
                border-top-left-radius: 0.3rem;
                border-top-right-radius: 0.3rem;
                font-weight: bold;
            }

            &:not(.header):not(:last-child) {
                border-bottom: 1px solid #463a47;
            }

            &.new {
                grid-column: id-start / controls-end;
                background: #251d26;
                justify-self: center;
                width: 100%;

                a {
                    display: inline-flex;
                    gap: 5px;
                    align-items: center;
                    opacity: 0.6;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            &:last-child {
                border-bottom-left-radius: 0.3rem;
                border-bottom-right-radius: 0.3rem;
            }
        }
    }
}

app-prose-mirror-editor {
    flex: 1;
}

app-item-properties {
    .properties-list {
        height: 100%;
        width: 10rem;
        border-right: 1px solid;
        padding-right: 0.5rem;
        margin-right: 0.5rem;

        .quantity,
        .weight,
        .price {
            flex-wrap: unset;

            label {
                width: 3.5rem;
                flex: unset;
                display: block;
                margin-right: 0.5rem;
            }

            input {
                font-size: 0.75rem;
                text-align: right;
            }

            select {
                width: 3.5rem;
                flex: 2;
                font-size: 0.75rem;
                padding: 0;
                background: none;
            }
        }
    }
}

app-item-details-equip {
    .form-group-stacked {
        .header {
            display: flex;
            align-items: center;

            label {
                font-weight: bold;
                flex: 2;
            }

            span {
                flex: 3;
                font-style: italic;
            }

            .controls {
                margin-right: 0.5rem;
            }
        }
    }

    .traits-list {
        display: flex;
        flex-wrap: wrap;

        .trait {
            flex: 0 1 33.33%;
            display: flex;
            align-items: center;
            height: 1.5;

            input.trait-value {
                width: 1.5rem;
                text-align: center;
                margin-left: 0.3rem;
                height: 1.5rem;
            }
        }
    }
}

app-item-details-activation {
    .form-group.consume {
        input + select + select {
            font-size: 9pt;
        }
    }

    .form-group.uses {
        input {
            flex: unset !important;
            width: 4rem;
        }
    }
}

app-talent-prerequisites {
    display: block;
    margin-top: 0.5rem;

    .prerequisites-list {
        padding: 0;
        margin: 0;

        .rule {
            display: flex;
            flex-direction: row;
            align-items: center;
            background: #302831;
            height: 2rem;
            padding: 0 0.5rem;
            margin: 0;

            .col.type {
                width: 5rem;
            }

            .col.description {
                flex: 1;
            }

            .col.controls {
                margin-left: 1rem;

                > * {
                    width: 1rem;
                    text-align: center;
                }
            }

            &.header {
                background: #0f0610;
                border-top-left-radius: 0.3rem;
                border-top-right-radius: 0.3rem;
                font-weight: bold;
            }

            &:not(.header):not(:last-child) {
                border-bottom: 1px solid #463a47;
            }

            &:last-child {
                border-bottom-left-radius: 0.3rem;
                border-bottom-right-radius: 0.3rem;
            }
        }
    }
}
