<form>
    {{!-- Type --}}
    {{formGroup schema.fields.type
        value=type
        name="type"
        localize=true
    }}

    {{!-- Items rule --}}
    {{#if (eq type "items")}}
        <div class="form-group">
            {{app-document-drop-list
                name="items"
                value=items
                type="Item"
            }}
        </div>
    {{/if}}

    {{!-- Submit --}}
    <br>
    <div class="form-group">
        <button data-action="update" type="submit">
            {{localize "GENERIC.Button.Update"}}
        </button>
    </div>
</form>