<header>
    <span class="title">Character Builder</span>

    <div class="controls">
        <a data-action="close"
            data-tooltip="Close"
        >
            <i class="fa-solid fa-times"></i>
        </a>
    </div>
</header>