<ul>
    {{#each talentLinks as |element index|}}
    <li class="talent" data-item="{{index}}">
        <div class="col link">
            {{{element}}}
        </div>
        <div class="col controls">
            <a data-action="remove-talent"
                data-tooltip="GENERIC.Button.Remove"
            >
                <i class="fa-solid fa-trash"></i>
            </a>
        </div>
    </li>
    {{/each}}
</ul>
<p>
    {{localize "COSMERE.Item.Sheet.Talent.Prerequisites.DropTalents"}}
</p>